.checkout-container {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#checkout-form.row {
    padding: 0;
}

.row.top {
    width: 100%;
    margin: 7rem 0;
}

.row.dates {
    width: 100%;
    padding: 0;
}

.row.dates.form-group {
    padding: 0;
}

.columnDiv {
    background: dimgrey;
    width: 100%;
    margin: 0 auto;
}

#checkout-form {
    width: 100%;
    margin: 0 auto;
    padding: .5rem 0;
}

.btn-success {
    margin: 0 auto 
}

@media only screen and (min-width: 600px) {
    .row.top {
        padding: 2rem;
    }

    .columnDiv {
        width: 60%;
    }

    #checkout-form {
        width: 75%;
        margin: 0 auto;
        padding: .5rem 2rem;
    }

}