<div class='container'>
  <div class="row">
      <div class="col-sm-6 col md 4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Destiny 2</h5>
              <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row clear-fix purchase-container">
                <div class="price col-xs-6">$12</div>
                <a href="#" class="btn btn-primary pull-right">Buy</a>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
