<div class='item-container'>
  <div class="row clear-fix">
    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Destiny 2</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Batman_Arkham.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Batman Arkham Asylum</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Dishonored.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Destiny 2</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Destiny 2</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Destiny 2</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row clear-fix">
    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Destiny 2</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="col-xs-6 col-md-2">
      <div class="card">
          <img class="card-img-top img-responsive" src="../../../assets/images/Batman_Arkham.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Batman Arkham Asylum</h5>
            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row purchase-container">
              <div class="price">
                <p>$12</p>
              </div>
              <div>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="col-xs-6 col-md-2">
        <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/images/Dishonored.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Destiny 2</h5>
              <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row purchase-container">
                <div class="price">
                  <p>$12</p>
                </div>
                <div>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    
      <div class="col-xs-6 col-md-2">
        <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Destiny 2</h5>
              <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row purchase-container">
                <div class="price">
                  <p>$12</p>
                </div>
                <div>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-xs-6 col-md-2">
          <div class="card">
            <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Destiny 2</h5>
              <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row purchase-container">
                <div class="price">
                  <p>$12</p>
                </div>
                <div>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

          <div class="row clear-fix">
              <div class="col-xs-6 col-md-2">
                <div class="card">
                    <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Destiny 2</h5>
                      <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="row purchase-container">
                        <div class="price">
                          <p>$12</p>
                        </div>
                        <div>
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        
              <div class="col-xs-6 col-md-2">
                  <div class="card">
                      <img class="card-img-top img-responsive" src="../../../assets/images/Batman_Arkham.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Batman Arkham Asylum</h5>
                        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row purchase-container">
                          <div class="price">
                            <p>$12</p>
                          </div>
                          <div>
                            <a href="#" class="btn btn-primary">Buy</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
        
                <div class="col-xs-6 col-md-2">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="../../../assets/images/Dishonored.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Destiny 2</h5>
                          <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="row purchase-container">
                            <div class="price">
                              <p>$12</p>
                            </div>
                            <div>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
        
                  <div class="col-xs-6 col-md-2">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Destiny 2</h5>
                          <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="row purchase-container">
                            <div class="price">
                              <p>$12</p>
                            </div>
                            <div>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
        
                  <div class="col-xs-6 col-md-2">
                      <div class="card">
                          <img class="card-img-top img-responsive" src="../../../assets/images/Destiny2.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Destiny 2</h5>
                            <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="row purchase-container">
                              <div class="price">
                                <p>$12</p>
                              </div>
                              <div>
                                <a href="#" class="btn btn-primary">Buy</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              </div>
  </div>
