<div class="header" id="myHeader">
  <h2>WD6i</h2>
</div>
<div class='item-container'>
  <div class="row header-row">
    <div class=" col-xs-12 backContainer">
        <a class="btn btn-primary backBtn" [routerLink]="['/profile']" [routerLinkActive]="'is-active'">Back</a>
    </div>
    <div class="video-container">
        <div *ngIf="products;" class="card-deck">

            <div class="card" *ngFor="let item of products; let i = index">

                <!-- Button trigger modal -->
                <div id="modalBtn" data-toggle="modal" data-target="#myModal" [attr.data-id]="item" (click)="onSelectObject(item)">
                    <img class="card-img-top" [src]="content.imageUrl | youtube" alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text"><small class="text-muted">{{item.publishedAt}}</small></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
</div>
