.card img {
    max-height: 150px;
}

.card .description {
    color: #7f7f7f;
}

.purchase-container {
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.pull-right {
    float: right;
}