.page-container {
    background: #E5E9F2;
    min-height: 90vh;
    padding: 3.6rem;
  }

  .create-container {
    background: #FFF;
    width: 60%;
    margin:  auto 8rem auto;
    padding: 2rem;
  }