.create-container {
    background: #FFF;
    width: 100%;
    margin: 5rem 0 8rem 0;
    padding: 2rem;
}

.btnRow {
    width: 100%;
    margin: 0;
}

.btnRow button {
    margin: 5px;
}

@media (max-width: 767.98px) {
    h1 {
        font1.5rem
    }
    .btnRow button {
        width: 100%;
    }
}

/*medium and up devices*/
@media (min-width: 767.98px) {

    .create-container {
        width: 60%;
        margin: 5rem auto 8rem auto;
        padding: 2rem;
    }

    .btnRow {
        width: 50%;
        margin: 0;
    }

}