.vendor-container {
    padding: 100px;
}

.topRow {
    width: 100%;
    margin-bottom: 2rem;
}

.topRow p {
    width: 25%;
}

.badge-secondary {
    padding: .55rem;
}

td img {
    max-width: 100px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}