.vendor-container {
    padding: 100px;
}

.badge-secondary {
    padding: .55rem;
}

td img {
    max-width: 100px;
}

#outer {
    width:100%;
    text-align: center;
    margin-bottom: 2rem;
}
.inner {
    display: inline-block;
}

.back {
    float: left;
}

.checkout {
    float: right;
}

.topRow btn-success {
    margin-left: 0;
}

.topRow button {
    margin: 0 0 0 3rem;
}

@media only screen and (min-width: 500px) {
    .back {
        float: left;
    }

    .checkout {
        float: right;
    }
}