.vendor-container {
    padding: 100px;
}




.badge-secondary {
    padding: .55rem;
}

td img {
    max-width: 100px;
}

#outer
{
    width:100%;
    text-align: center;
    margin-bottom: 2rem;
}
.inner
{
    display: inline-block;
}.topRow btn-success {
    margin-left: 0;
}

.topRow button {
    margin: 0 0 0 3rem;
}