<div class="success-container"></div>
<div class="row">
    <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
          <address>
        <strong>Shipping Address:</strong><br>
                    Firstname Lastname<br>
                    name@site.com<br>
                    0737632706<br>
          Address<br>
          ZIP, City, Country
        </address>

      </div>
      <div class="col-xs-6 text-right">
            <h1><span class="glyphicon glyphicon glyphicon-cloud-download" aria-hidden="true"></span></h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div><p><span class="glyphicon glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                All Monthly and Quarterly subscription plans renew automatically on the 15th of the month.</p> </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
                            <tr>
                  <td><strong>Product Name</strong></td>
                  <td class="text-right"><strong>Product Options</strong></td>
                    <td class="text-right"><strong>Subscription Type</strong></td>
                    <td class="text-right"><strong>Price</strong></td>

                            </tr>
            </thead>
            <tbody>
              <!-- foreach ($order->lineItems as $line) or some such thing here -->
              <tr>
                <td>Veganboxen</td>
                    <td class="text-right">Variable #1</td>
                    <td class="text-right">Monthly</td>
                                <td class="text-right">189 SEK</td>
              </tr>
              <tr>
                <td class="thick-line"></td>
                <td class="thick-line"></td>
                <td class="thick-line text-right"><strong>VAT - 12%</strong></td>
                <td class="thick-line text-right">incl.</td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-right"><strong>Shipping</strong></td>
                <td class="no-line text-right">incl.</td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-right"><strong>Total</strong></td>
                <td class="no-line text-right">189 SEK</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
</div>
