
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">E-commerse Shopping Cart</a>
  <div>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Upload</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Profile</a>
              </li>
              <li class="nav-item pull-right">
                  <a class="nav-link">Shopping Cart</a>
              </li>
              <!--
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/logout']" [routerLinkActive]="'is-active'">Logout</a>
              </li>
              -->
          </ul>
          <ul class="nav nav-bar navbar-right">
            <li class></li>
          </ul>
      </div>
  </div>
</nav>

<!-- *ngIf="router.url !== '/login'" -->