.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1020;
    border-bottom: 2px solid #
}

li.nav-item.is-active {
    background: #7676c3;
}

li.nav-item.is-active a {
    color: #FFF;
}